In [2]:
import pandas as pd 
import numpy as np 
import datetime as dt
from matplotlib import pyplot as plt

In [3]:
def take_time(time):
    t = dt.datetime.strptime(time, '%Y-%m-%d %H:%M:%S')
    x = t.strftime('%H:%M:%S')
    return x

In [4]:
def get_DoW(day):
    daynum = day.dayofweek
    if daynum == 0:
        return str('Monday')
    elif daynum == 1:
        return str('Tuesday')
    elif daynum == 2:
        return str('Wednesday')
    elif daynum == 3:
        return str('Thursday')
    elif daynum == 4:
        return str('Friday')
    elif daynum == 5:
        return str('Saturday')
    elif daynum == 6:
        return str('Sunday')

In [5]:
def get_month(month):
    monthnum = month.month
    if monthnum == 1:
        return str('January')
    elif monthnum == 2:
        return str('February')
    elif monthnum == 3:
        return str('March')
    elif monthnum == 4:
        return str('April')
    elif monthnum == 5:
        return str('May')
    elif monthnum == 6:
        return str('June')
    elif monthnum == 7:
        return str('July')
    elif monthnum == 8:
        return str('August')
    elif monthnum == 9:
        return str('September')
    elif monthnum == 10:
        return str('October')
    elif monthnum == 11:
        return str('November')
    elif monthnum == 12:
        return str('December')

In [6]:
mains = pd.read_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\UKDALE Mains Data\h5_mains.csv', header = [0,1])

In [7]:
mains.head()

                  physical_quantity    power
                               type apparent  active   reactive
0  2014-06-29 17:23:43.200000+01:00   805.69  702.57  394.37515
1  2014-06-29 17:23:44.300000+01:00   803.02  697.15  398.52600
2  2014-06-29 17:23:45.300000+01:00   797.65  689.04  401.83264
3  2014-06-29 17:23:46.300000+01:00   801.12  693.41  401.21796
4  2014-06-29 17:23:47.300000+01:00   803.49  701.05  392.58768

In [8]:
type(mains.iloc[0,0])

str

In [24]:
start = pd.to_datetime('{}'.format(mains.iloc[0,0]))
end = pd.to_datetime('{}'.format(mains.iloc[-1,0]))
print(start.date())
print(end.date())

2014-06-29
2014-11-13
<class 'datetime.date'>

In [19]:
a = pd.to_datetime('2014-06-29 17:23:43.200000+01:00')
print(a.date())

2014-06-29

In [41]:
index = [pd.date_range(start='2014-06-29', end='2014-11-13')]
print(index)

[DatetimeIndex(['2014-06-29', '2014-06-30', '2014-07-01', '2014-07-02',
               '2014-07-03', '2014-07-04', '2014-07-05', '2014-07-06',
               '2014-07-07', '2014-07-08',
               ...
               '2014-11-04', '2014-11-05', '2014-11-06', '2014-11-07',
               '2014-11-08', '2014-11-09', '2014-11-10', '2014-11-11',
               '2014-11-12', '2014-11-13'],
              dtype='datetime64[ns]', length=138, freq='D')]

In [7]:
columns = pd.DataFrame(pd.date_range('2015-7-24', periods=1440, freq='min')).astype(str)
columns = columns[0].apply(take_time)
columns.head()

0    00:00:00
1    00:01:00
2    00:02:00
3    00:03:00
4    00:04:00
Name: 0, dtype: object

In [8]:
df = pd.DataFrame(0, index = index, columns =columns)

In [9]:
print(df)

0           00:00:00  00:01:00  00:02:00  00:03:00  00:04:00  00:05:00  \
2014-06-29         0         0         0         0         0         0
2014-06-30         0         0         0         0         0         0
2014-07-01         0         0         0         0         0         0
2014-07-02         0         0         0         0         0         0
2014-07-03         0         0         0         0         0         0
...              ...       ...       ...       ...       ...       ...
2014-11-09         0         0         0         0         0         0
2014-11-10         0         0         0         0         0         0
2014-11-11         0         0         0         0         0         0
2014-11-12         0         0         0         0         0         0
2014-11-13         0         0         0         0         0         0

0           00:06:00  00:07:00  00:08:00  00:09:00  ...  23:50:00  23:51:00  \
2014-06-29         0         0         0         0  ...         0         0
2014-06-30         0         0         0         0  ...         0         0
2014-07-01         0         0         0         0  ...         0         0
2014-07-02         0         0         0         0  ...         0         0
2014-07-03         0         0         0         0  ...         0         0
...              ...       ...       ...       ...  ...       ...       ...
2014-11-09         0         0         0         0  ...         0         0
2014-11-10         0         0         0         0  ...         0         0
2014-11-11         0         0         0         0  ...         0         0
2014-11-12         0         0         0         0  ...         0         0
2014-11-13         0         0         0         0  ...         0         0

0           23:52:00  23:53:00  23:54:00  23:55:00  23:56:00  23:57:00  \
2014-06-29         0         0         0         0         0         0
2014-06-30         0         0         0         0         0         0
2014-07-01         0         0         0         0         0         0
2014-07-02         0         0         0         0         0         0
2014-07-03         0         0         0         0         0         0
...              ...       ...       ...       ...       ...       ...
2014-11-09         0         0         0         0         0         0
2014-11-10         0         0         0         0         0         0
2014-11-11         0         0         0         0         0         0
2014-11-12         0         0         0         0         0         0
2014-11-13         0         0         0         0         0         0

0           23:58:00  23:59:00
2014-06-29         0         0
2014-06-30         0         0
2014-07-01         0         0
2014-07-02         0         0
2014-07-03         0         0
...              ...       ...
2014-11-09         0         0
2014-11-10         0         0
2014-11-11         0         0
2014-11-12         0         0
2014-11-13         0         0

[138 rows x 1440 columns]

In [10]:
df.reset_index(names = 'index', inplace = True)

In [11]:
df['day_of_week'] = df['index'].apply(get_DoW)

In [12]:
df['month'] = df['index'].apply(get_month)

In [13]:
df.head()

,index,00:00:00,00:01:00,00:02:00,00:03:00,00:04:00,00:05:00,00:06:00,00:07:00,00:08:00,...,23:52:00,23:53:00,23:54:00,23:55:00,23:56:00,23:57:00,23:58:00,23:59:00,day_of_week,month
0,2014-06-29,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Sunday,June
1,2014-06-30,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Monday,June
2,2014-07-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Tuesday,July
3,2014-07-02,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Wednesday,July
4,2014-07-03,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Thursday,July

In [14]:
df['index'].astype(str)

0      2014-06-29
1      2014-06-30
2      2014-07-01
3      2014-07-02
4      2014-07-03
          ...
133    2014-11-09
134    2014-11-10
135    2014-11-11
136    2014-11-12
137    2014-11-13
Name: index, Length: 138, dtype: object

In [15]:
df.set_index('index', inplace = True)

In [16]:
df.to_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\Dishwasher Activations\h5_blank_matrix.csv')

In [17]:
#df.loc['2014-06-30', '19:24:00':'21:27:00'] = 1

In [18]:
df.head()

,00:00:00,00:01:00,00:02:00,00:03:00,00:04:00,00:05:00,00:06:00,00:07:00,00:08:00,00:09:00,...,23:52:00,23:53:00,23:54:00,23:55:00,23:56:00,23:57:00,23:58:00,23:59:00,day_of_week,month
index,,,,,,,,,,,,,,,,,,,,,
2014-06-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Sunday,June
2014-06-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Monday,June
2014-07-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Tuesday,July
2014-07-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Wednesday,July
2014-07-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Thursday,July

In [35]:
h5_activations = pd.read_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\Dishwasher Activations\h5_DW_activations.csv', index_col = 0)
h5_activations.head(65)

,activity_start,activity_end,duration_in_minutes,day_of_week,month
59,2014-06-30 19:24:00,2014-06-30 21:27:00,122.9,Monday,June
53,2014-07-03 09:04:00,2014-07-03 11:03:00,119.3,Thursday,July
26,2014-07-06 12:47:00,2014-07-06 14:10:00,83.0,Sunday,July
55,2014-07-08 18:21:00,2014-07-08 20:21:00,119.9,Tuesday,July
52,2014-07-11 14:22:00,2014-07-11 16:20:00,117.8,Friday,July
31,2014-07-13 20:01:00,2014-07-13 21:26:00,85.3,Sunday,July
7,2014-07-19 13:41:00,2014-07-19 14:07:00,26.0,Saturday,July
12,2014-07-19 14:19:00,2014-07-19 14:50:00,31.3,Saturday,July
4,2014-07-19 15:18:00,2014-07-19 15:37:00,19.7,Saturday,July
19,2014-07-19 18:42:00,2014-07-19 19:23:00,40.4,Saturday,July
14,2014-07-19 19:35:00,2014-07-19 20:07:00,31.9,Saturday,July
11,2014-07-22 10:17:00,2014-07-22 10:48:00,30.6,Tuesday,July
2,2014-07-22 11:26:00,2014-07-22 11:44:00,17.6,Tuesday,July
3,2014-07-27 08:31:00,2014-07-27 08:51:00,19.2,Sunday,July
15,2014-07-27 09:19:00,2014-07-27 09:51:00,32.3,Sunday,July
24,2014-07-29 17:48:00,2014-07-29 19:10:00,82.7,Tuesday,July
5,2014-08-01 22:28:00,2014-08-01 22:49:00,21.1,Friday,August
17,2014-08-01 23:04:00,2014-08-01 23:40:00,35.6,Friday,August
18,2014-08-03 19:37:00,2014-08-03 20:15:00,38.4,Sunday,August
8,2014-08-03 20:32:00,2014-08-03 20:59:00,27.7,Sunday,August
38,2014-08-08 20:44:00,2014-08-08 22:10:00,86.4,Friday,August
16,2014-08-10 10:25:00,2014-08-10 10:58:00,33.3,Sunday,August
13,2014-08-10 11:14:00,2014-08-10 11:46:00,31.7,Sunday,August
44,2014-08-13 12:59:00,2014-08-13 14:27:00,88.1,Wednesday,August
33,2014-08-16 18:45:00,2014-08-16 20:11:00,85.7,Saturday,August
23,2014-08-19 20:14:00,2014-08-19 21:35:00,80.2,Tuesday,August
29,2014-08-22 19:59:00,2014-08-22 21:22:00,83.7,Friday,August
9,2014-08-24 19:06:00,2014-08-24 19:35:00,28.6,Sunday,August
21,2014-08-24 19:45:00,2014-08-24 20:28:00,43.4,Sunday,August
56,2014-08-27 12:03:00,2014-08-27 14:04:00,121.4,Wednesday,August
50,2014-08-29 10:02:00,2014-08-29 11:36:00,93.0,Friday,August
39,2014-08-30 18:10:00,2014-08-30 19:37:00,86.5,Saturday,August
0,2014-08-31 19:10:00,2014-08-31 19:14:00,4.0,Sunday,August
35,2014-09-01 20:07:00,2014-09-01 21:33:00,85.7,Monday,September
10,2014-09-03 18:03:00,2014-09-03 18:33:00,29.7,Wednesday,September
45,2014-09-03 18:44:00,2014-09-03 20:12:00,88.2,Wednesday,September
40,2014-09-06 09:41:00,2014-09-06 11:07:00,86.6,Saturday,September
28,2014-09-09 11:58:00,2014-09-09 13:22:00,83.6,Tuesday,September
22,2014-09-12 20:54:00,2014-09-12 21:46:00,51.3,Friday,September
6,2014-09-12 22:01:00,2014-09-12 22:26:00,24.4,Friday,September
27,2014-09-14 09:52:00,2014-09-14 11:15:00,83.1,Sunday,September
34,2014-09-15 17:44:00,2014-09-15 19:10:00,85.7,Monday,September
49,2014-09-17 13:56:00,2014-09-17 15:28:00,92.4,Wednesday,September
41,2014-09-19 08:26:00,2014-09-19 09:52:00,86.6,Friday,September
30,2014-09-25 22:15:00,2014-09-25 23:39:00,84.1,Thursday,September
42,2014-09-29 18:44:00,2014-09-29 20:11:00,87.1,Monday,September
32,2014-10-02 11:09:00,2014-10-02 12:34:00,85.4,Thursday,October
37,2014-10-05 11:28:00,2014-10-05 12:53:00,85.9,Sunday,October
51,2014-10-06 20:00:00,2014-10-06 21:35:00,95.4,Monday,October
46,2014-10-09 11:13:00,2014-10-09 12:41:00,88.4,Thursday,October
43,2014-10-15 05:51:00,2014-10-15 07:19:00,88.1,Wednesday,October
54,2014-10-20 13:19:00,2014-10-20 15:19:00,119.7,Monday,October
57,2014-10-22 19:41:00,2014-10-22 21:43:00,121.9,Wednesday,October
58,2014-10-25 16:00:00,2014-10-25 18:02:00,122.2,Saturday,October
25,2014-10-27 17:55:00,2014-10-27 19:18:00,82.9,Monday,October
48,2014-10-29 20:03:00,2014-10-29 21:35:00,92.2,Wednesday,October
36,2014-11-01 13:22:00,2014-11-01 14:48:00,85.8,Saturday,November
47,2014-11-08 11:45:00,2014-11-08 13:15:00,90.3,Saturday,November
20,2014-11-11 14:22:00,2014-11-11 15:04:00,42.0,Tuesday,November
1,2014-11-11 15:30:00,2014-11-11 15:46:00,16.5,Tuesday,November

AttributeError: 'str' object has no attribute 'date'

In [21]:
h5_activations['activity_start'] = pd.to_datetime(h5_activations['activity_start'])
h5_activations['activity_end'] = pd.to_datetime(h5_activations['activity_end'])

In [22]:
def populate(matrix, activations):
    dfm = matrix
    dfa = activations
    starttime = []
    date = []
    endtime = []
    i = 0
    j = 0
    k = 0

    dfa['activity_start'] = pd.to_datetime(dfa['activity_start'])
    dfa['activity_end'] = pd.to_datetime(dfa['activity_end'])

    while i < len(dfa):
        a = dfa.iloc[i]['activity_start']
        b = a.time()
        c = a.date()
        starttime.append(b)
        date.append(c)
        i += 1  

    while j < len(dfa):
        a = dfa.iloc[j]['activity_end']
        b = a.time()
        c = a.date()
        endtime.append(b)
        j += 1

    dfstarttime = pd.DataFrame(starttime).astype(str)
    dfendtime = pd.DataFrame(endtime).astype(str)
    dfdate = pd.DataFrame(date).astype(str)

    while k < len(dfa):
        dfm.loc[dfdate.iloc[k,0], dfstarttime.iloc[k,0]:dfendtime.iloc[k,0]] = 1
        k += 1
    
    return dfm

In [23]:
populate(df, h5_activations)

,00:00:00,00:01:00,00:02:00,00:03:00,00:04:00,00:05:00,00:06:00,00:07:00,00:08:00,00:09:00,...,23:52:00,23:53:00,23:54:00,23:55:00,23:56:00,23:57:00,23:58:00,23:59:00,day_of_week,month
index,,,,,,,,,,,,,,,,,,,,,
2014-06-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Sunday,June
2014-06-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Monday,June
2014-07-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Tuesday,July
2014-07-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Wednesday,July
2014-07-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Thursday,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-11-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Sunday,November
2014-11-10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Monday,November
2014-11-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Tuesday,November
2014-11-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Wednesday,November
2014-11-13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Thursday,November

In [24]:
#df.to_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\Dishwasher Activations\h5_blank_matrix.csv')

In [25]:
#df.to_csv(r'C:\Users\44749\NILM\nilm_analyzer_EM401\Processed Data\Dishwasher Activations\test.csv')